<!-- templates/inventory/issue.html -->
{% extends "base.html" %}
{% load md5url %}
{% block content %}
{{ auto_refresh|safe }}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h1>出庫処理</h1>

<form id="issueForm" action="{% url 'inventory_issue' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">出庫</button>
</form>

{% endblock content %}


{% block js_link %}

<script
    src="{% md5url 'js/top.js' %}">
</script>

<link
    rel="stylesheet"
    href="{% md5url 'css/top.css' %}"
    />


{% endblock js_link %}
